<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.bit.board.dao.BoardDAO">

<!-- t_board의 view_cnt, reg_date mapping -->



<resultMap id="MapBoardVO" type="boardVO">

<result property="viewCnt" column="view_cnt"/>

<result property="regDate" column="reg_date"/>

</resultMap>

<sql id="selectAll"> select no, title, writer, content, view_cnt, to_char(reg_date, 'yyyy-mm-dd') as reg_date from t_board </sql>

<!-- 전체 게시글 조회 -->



<select id="selectAllBoard" resultMap="MapBoardVO">

<include refid="selectAll"/>
order by no desc 
</select>

<!-- 새글 등록 -->


<insert id="insertBoard" parameterType="boardVO"> insert into t_board(no, title, writer, content) values(seq_t_board_no.nextval, #{title}, #{writer}, #{content}) </insert>

<!-- 글번호 조회 -->



<select id="selectBoardByNo" resultMap="MapBoardVO" parameterType="int">

<include refid="selectAll"/>
where no = #{no} 
</select>

</mapper>